<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../static/images/logo.ico" th:href="@{images/logo.ico}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" th:href="@{css/index.css}">

    <link rel="stylesheet" type="text/css" href="../static/resources/bootstrap-3.3.7/css/bootstrap.min.css" th:href="@{resources/bootstrap-3.3.7/css/bootstrap.min.css}">
    <script src="../static/js/jquery-3.2.1.min.js" th:src="@{js/jquery-3.2.1.min.js}"></script>
    <script src="../static/resources/bootstrap-3.3.7/js/bootstrap.min.js" th:src="@{resources/bootstrap-3.3.7/js/bootstrap.min.js}"></script>

    <title>lvxz</title>
</head>

<body>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div role="form">
                    <div class="form-group">
                        <label for="input_id">input</label><input class="form-control" id="input_id" type="text" />
                        <button type="button" class="btn btn-default" onclick="inputForm()">Submit</button>
                    </div>
                    <div class="form-group">
                        <label for="output_id">output</label><input class="form-control" id="output_id" type="text" />
                        <button type="button" class="btn btn-default" onclick="outputForm()">Submit</button>
                    </div>
                    <div class="form-group">
                        <label for="transfer_id">transfer</label><input class="form-control" id="transfer_id" type="text" />
                        <button type="button" class="btn btn-default" onclick="transferForm()">Submit</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="alert alert-dismissable alert-success" id="alert_id">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><label id="label_id"></label></h4>
                </div>
            </div>
        </div>
    </div>


</body>

    <script>

        $('#alert_id').hide();

        function inputForm(){

            var inputID = $('#input_id').val();
            var objJson = {
                "inputID":inputID
            };

            $.ajax({
                type:"POST",
                url: "/dispatch/input",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                data: JSON.stringify(objJson),
                async:true,
                success: function (response) {
                    /*if(response.code == 1){
                        $('#alert_id').hide();
                        $('#label_id').html(response.msg);
                        $('#alert_id').show();
                    } else {
                        alert(response.msg);
                    }*/
                    $('#alert_id').hide();
                    $('#label_id').html(response.msg);
                    $('#alert_id').show();
                },
                error: function (){
                    alert("访问失败，请检查网络、路径......");
                }
            });

        }

        function outputForm(){

            var outputID = $('#output_id').val();
            var objJson = {
                "outputID":outputID
            };

            $.ajax({
                type:"POST",
                url: "/dispatch/output",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                data: JSON.stringify(objJson),
                async:true,
                success: function (response) {
                    $('#alert_id').hide();
                    $('#label_id').html(response.msg);
                    $('#alert_id').show();
                },
                error: function (){
                    alert("访问失败，请检查网络、路径......");
                }
            });

        }

        function transferForm(){

            var transferID = $('#transfer_id').val();
            var objJson = {
                "transferID":transferID
            };

            $.ajax({
                type:"POST",
                url: "/dispatch/transfer",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                data: JSON.stringify(objJson),
                async:true,
                success: function (response) {
                    $('#alert_id').hide();
                    $('#label_id').html(response.msg);
                    $('#alert_id').show();
                },
                error: function (){
                    alert("访问失败，请检查网络、路径......");
                }
            });

        }


    </script>

</html>